<!DOCTYPE html>
<html>
<head>
  <title>Mne</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<lu>
  <li>m1</li>
  <li>m2</li>
  <li>m3</li>
  <li>m4</li>
  <li>m5</li>
</lu>
<%= yield %>

</body>
</html>
